!!! 5
html
  head
    - if (typeof(title) == 'undefined')
        title HoneyComb
    - else 
        title= title
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href=base + '/stylesheets/style.css')
    
    // include default scripts and any view scripts
    script(src=base + '/javascripts/jquery-1.7.min.js')
    script(src=base + '/javascripts/modernizr.js')
    
  body   
    header
      div(class='content-wrapper')
        div(class="float-left")
          p(class="site-title")
            img(src='/images/logo2.png')
        div(class="float-right")
          section#login
            ul
            -if(!everyauth.loggedIn)
                li
                    a(href="/login") Log in
                li
                    a(href="/register") Register
            
            -else
                -if(everyauth.password)
                    li Welcome !{everyauth.user.email}!
                li 
                    a(href="/logout") Logout
          nav
            ul#menu
              li 
                a(href="/") Home
              li
                a(href="/about") About
    #body!= body
      
    footer
      div(class="content-wrapper")
        div(class="float-left")
          p &copy; !{(new Date()).getFullYear()} SPSU HoneyComb